.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__menu { // mobile menu
    > span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: $dark-blue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        font-size: $font-sm;
        color: $grayish-blue;
        transition: color 200ms ease-in-out;
        transition: border 200ms;

        &:hover {
          border-bottom-width: 5px;
          border-bottom-style: solid;
          border-bottom-color: $lime-green;
          padding-bottom: 18px;
          color: $dark-blue;
        }
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}